<div data-role="layout" data-id="main">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>

    <!-- application views will be rendered here -->
</div>

<div data-role="drawer" id="appDrawer" data-title="Navigation">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul id="navigation-container" data-role="listview">
    </ul>
</div>