<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="/kendo/styles/kendo.mobile.all.min.css" rel="stylesheet"/>
    <link href="styles/main.css" rel="stylesheet"/>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="/kendo/js/jquery.min.js"></script>
    <script src="/kendo/js/kendo.mobile.min.js"></script>

    <script src="scripts/app.js"></script>

</head>
<body>

<div data-role="layout" data-id="main">
    <% if (header) { %>
    <div data-role="header">
        <div data-role="navbar">
            <%= appname %> - <span data-role="view-title"></span>
        </div>
    </div>
    <% } %>

    <div data-role="footer">
        <div data-role="tabstrip">
            <% for(var i=0; i < tabs.length ; i++) {
            var tab = tabs[i];
            %>
            <a href="views/<%= tab %>.html" data-icon="<%= tab %>"><%= tab %></a>
            <% } %>
        </div>
    </div>
</div>

</body>
</html>