<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet"/>
    <link href="styles/main.css" rel="stylesheet"/>

    <!-- cordova script (this will be a 404 during development if served with `grunt serve`) -->
    <script src="cordova.js"></script>

    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body id="<%= appname %>">

</body>
</html>